{% extends 'social_app/base.html' %}
{% load static %}
{% block content %}

<section class="h-100 gradient-custom-2">
    <div class="container py-2 h-100">
        <div class="row d-flex justify-content-center">
            <div class="col col-xl-9 col-xl-8">
                <div class="card">
                    <div class="rounded-top text-white d-flex flex-row" style="background-color: #567; height: 200px;">
                        <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">

                            <img {% if profile_info.profile_picture %}
                                src="{{ profile_info.profile_picture.url }}"
                            {% else %}
                                src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                            {% endif %}
                            alt="Profile Picture" class="img-fluid img-thumbnail mt-4" width="250" height="250"
                            style="object-fit: cover; z-index: 1;">
                            
                        </div>


              <div class="ms-3" style="margin-top: 120px;">
                <h5>{{profile_info.username}}</h5>
                <p>{{profile_info.user.email}}</p>
              </div>
              <div class="p-5 text-blak" style="margin-left:250px; margin-top:30px; color:#ffff;">
                  <div class="d-flex justify-content-end text-center py-3 text-body" >
                <div class="" style="color:#ffff;">
                  <p class="mb-1 h5">{{count}}</p>
                  <p class="small  mb-0">Img Posts</p>
                </div>
                <div class="px-3" style="color:#ffff;">
                  <p class="mb-1 h5">{{profile_info.followers.all.count}}</p>
                  <p class="small mb-0">Followers</p>
                </div>
                <div style="color:#ffff;">
                    <p class="mb-1 h5">{{profile_info.following.all.count}} </p>
                    <p class="small mb-0">Following</p>
                </div>
              </div>
              <div class="d-flex flex-column mt-5">
                {%if profile_info.user == request.user %}
                <a class="btn btn-outline-dark mb-2" href="{% url 'edit_profile' %}" style="z-index: 1; ">Edit Profile</a>
                <a class="btn btn-outline-danger" href="{% url 'delete_profile' %}" style="z-index: 1;">Delete Profile</a>
                {% endif %}
            </div>
        </div>
    </div>
            <div class="card-body p-4 text-black">
              <div class="mb-5 mt-3 text-body">
                <p class="lead fw-normal mb-1">Profile info</p>
                <div class="p-4 bg-body">
                  <p class="font-italic mb-1">Gender : {{profile_info.gender}}</p>
                  <p class="font-italic mb-1">DOB : {{profile_info.date_of_birth}}</p>
                  <p class="font-italic mb-0">BIO : {{profile_info.bio}}</p>
                  <p class="font-italic mb-0">Joined at : {{profile_info.created_at}}</p>
                </div>
              </div>
            <div class="d-flex justify-content-between align-items-center mb-4 text-body">
                <p class="lead fw-normal mb-0">Recent photos</p>
            </div>
              

    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 g-4 mx-2 mb-3">
        
          {% for post in posts %}

        <div class="col">
            <div class="card">
                <h6 class="card-title p-2">{{profile_info.username}}</h6>
                <img {% if post.post_picture %} 
                        src= "{{ post.post_picture.url }}" 
                    {% else %}
                        src= "https://www.contentviewspro.com/wp-content/uploads/2017/07/default_image.png" 
                    {% endif%}
                class="card-img-top"
                  alt="Hollywood Sign on The Hill" />
                <div class="card-body">
                    <p class="card-text">
                        {{post.post_description}}<br>
                        #{{post.hashtag}}
                      </p>
                      {{post.created_at}}
                    </div>
                    <a href="#" class="btn btn-outline-dark btn-sm">Like {{post.likes.all.count}}</a>
            </div>
        </div>
        {% endfor %}
                {% for post in img_posts %}

                <div class="col">
                    <div class="card">
                        <h6 class="card-title p-2">{{profile_info.username}}</h6>
                        <div class="card-body">
                            <p class="card-text">
                                {{post.post_description}}<br>
                                #{{post.hashtag}}
                              </p>
                              {{post.created_at}}
                            </div>
                            <a href="#" class="btn btn-outline-dark btn-sm">Like {{post.likes.all.count}}</a>
                    </div>
                </div>
                {% endfor %}
                


        
                  </div>
              </div>

            

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}